progetto/Turam/calendar.csv
progetto/Turam/listings.csv
progetto/Turam/neighbourhoods.csv
progetto/Turam/neighbourhoods.geojson
progetto/Turam/reviews.csv
progetto/Turam/reviews_scompressa.csv
progetto/__pycache__/esame.cpython-313.pyc
/progetto/__pycache__
/progetto/__pycache__
progetto/__pycache__/AutoScoutCarData.cpython-313.pyc
